<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <a th:href="@{/mypractice}">MY PRACTICE</a>
    <a th:href="@{/mysession}">MAKE NEW SESSION </a>

    <meta charset="UTF-8" />
    <title>Doctor Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
</head>
<body>
<h1 class="col-sm-12 text-center">Doctor Dashboard</h1>
<div class="col-sm-12 text-center">
    <img collect_rid="1:284976504" th:src="${user.image}" data-embed-type="deviation" data-embed-format="thumb" data-embed-id="284976504" width="504" height="648" th:alt="${user.firstName} + ' ' + ${user.lastName}" class="dev-content-normal " style="width: 304px; height: 348px; top: 0px;"/>
    <div class="caption">
        <h3 th:text="${user.firstName} + ' ' + ${user.lastName}"></h3>
        <p th:text="${user.biography}"></p>
    </div>
</div>
<h3 class="col-sm-12 text-center">Your Appointments</h3>
<p class="col-sm-12 text-center">10/10/2018 at 3:00 PM</p>
<div class="row">
    <div class="col-sm-12 text-center">
        <button id="btnCheckIn" class="btn btn-info btn-md center-block" Style="width: 100px;" OnClick="btnSearch_Click" >Check in</button>
        <button id="btnCancel" class="btn btn-danger btn-md center-block" Style="width: 100px;" OnClick="btnClear_Click" >Cancel</button>
    </div>
</div>
<h3 class="col-sm-12 text-center">Make an appointment.</h3>
<img  class="col-sm-12 text-center" src="http://3.bp.blogspot.com/_rk3mXzPg1eI/TM-_8JIlWYI/AAAAAAAABs8/R0eN0BnHRXs/s1600/04_february.jpg" data-embed-type="deviation" data-embed-format="thumb" data-embed-id="284976504"  width="504" height="648" />
</body>
</html>