<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="partials/header :: header">
    <meta charset="UTF-8" />
    <title>Doctor Dashboard</title>
</head>
<body>
<nav th:replace="partials/navbar :: doctor-navbar"></nav>

<section class="parallax-content text-center" data-stellar-background-ratio="0.4" id="parallax1-69" style="background-image: url(img/doctools.jpeg);">
    <div class="mbr-overlay" style="opacity: 0.75; background-color: rgb(120,188,255);"></div>
    <div class="parallax container">
        <h4>MY DASHBOARD</h4>
    </div>
</section>

<h1 class="col-sm-12 text-center">Doctor Dashboard</h1>
<div class="col-sm-12 text-center">
    <img collect_rid="1:284976504" th:src="${user.image}" data-embed-type="deviation" data-embed-format="thumb" data-embed-id="284976504" width="504" height="648" th:alt="${user.firstName} + ' ' + ${user.lastName}" class="dev-content-normal " style="width: 304px; height: 348px; top: 0px;"/>
    <div class="caption">
        <input type="hidden" th:name="doctorId" id="doctorId" th:value="${user.id}"/>
        <h3 th:text="${user.firstName} + ' ' + ${user.lastName}"></h3>
        <p th:text="${user.biography}"></p>
    </div>
</div>

<div th:each="patient : ${patients}">
    <h4 class="col-sm-12 text-center">My Patients</h4>
    <div class="col-sm-12 text-center">
        <div class="caption">
            <input th:type="hidden" class="patientName" th:name="patientName" th:value="${patient.firstName} + ' ' + ${patient.lastName}" />
            <h3 th:text="${patient.firstName} + ' ' + ${patient.lastName}"></h3>
            <p th:text="${patient.phoneNumber}"></p>
            <i><span th:text="${patient.street} + ' ' + ${patient.city} + ' ' + ${patient.state} + ' ' +  ${patient.zipcode}"></span></i>
            <!--<p th:text="${user.}"></p>-->
            <a th:href="@{/newsession/{id}(id = ${patient.id})}">New Session</a>
            <a th:href="@{/showsessions/{id}(id = ${patient.id})}">View All Sessions</a>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-3 col-sm-offset-2">
        <th:block th:if="${patients != null}">
            <form id="new-app-form" th:action="@{/newappointment}" th:method="POST">
                <h2>Schedule an Appointment</h2>
                <select class="form-control" name="patientId" id="patientId">
                    <option id="patient-selector" value="" selected="selected">Select a Patient</option>
                    <option th:each="patient : ${patients}" th:value="${patient.id}" th:name="patientId" th:text="${patient.firstName} + ' ' + ${patient.lastName}"></option>
                </select>
                <input type="hidden" name="doctorId" th:value="${user.id}" />
                <input type="hidden" name="doctorName" th:value="${user.firstName} + ' ' + ${user.lastName}" />
                <input type="hidden" name="statusId" value="1"/>
                <input class="form-control" type="date" id="date-picker" name="date"/>
                <select class="form-control" name="time" id="time-picker">
                    <option value="09:00">9:00 am</option>
                    <option value="10:00">10:00 am</option>
                    <option value="11:00">11:00 am</option>
                    <option value="12:00">12:00 pm</option>
                    <option value="13:00">1:00 pm</option>
                    <option value="14:00">2:00 pm</option>
                    <option value="15:00">3:00 pm</option>
                    <option value="16:00">4:00 pm</option>
                </select>
                <button class="btn btn-primary" id="done">Schedule</button>
            </form>
            <h3>Delete Appointments</h3>
            <div class="col-sm-3 col-sm-offset-2">
                <form th:action="@{/appointments/delete}" th:method="POST">
                    <select name="id" id="appointment-delete"></select>
                    <button class="btn btn-danger">Submit</button>
                </form>
            </div>
        </th:block>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div id="calendar"></div>
    </div>
</div>


<section class="mbr-section--bg-adapted mbr-section--relative" id="pricing-table1-75" style="background-color: rgb(17,42,68);">
    <div class="pricing" id="pricing">
        <div class="container">
            <div class="section-head-lite text-center col-md-8 col-md-offset-2 space80">

            </div>
        </div>
    </div>
</section>
<footer th:replace="partials/footer :: footer"></footer>
<script src="/js/doctor-calendar.js"></script>

</body>
</html>