<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header">
    <meta charset="UTF-8"/>
    <title>Edit My Info</title>
    <link href="/css/css2.css" rel="stylesheet"/>


</head>
<body>
<div th:replace="partials/navbar :: doctor-navbar"></div>

<section class="parallax-content text-center" data-stellar-background-ratio="0.4" id="parallax1-69" style="background-image: url(/img/docpaper.jpg);">
    <div class="mbr-overlay" style="opacity: 0.75; background-color: rgb(17,42,68);"></div>
    <div class="parallax container">
        <h4>EDIT MY INFO</h4>
    </div>
</section>
<section class="mbr-section--bg-adapted mbr-section--relative" id="form1-77" style="background-color: #46B1C9">
    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1" data-form-type="formoid">
                    <div data-form-alert="true">
                        <div class="hide" data-form-alert-success="true">Thanks for filling out form!</div>
                    </div>
                    <form th:action="@{'/users/' + ${user.id} + '/edit'}" method="POST" th:object="${user}" class="positioned" id="contactForm" data-form-title="CONTACT FORM">
                        <div class="form-group">
                            <input name="username" class="form-control ghost-input"  type="text" th:field="*{username}" th:value="*{username}" placeholder="Username" data-form-field="username"/>
                        </div>
                        <div class="form-group">
                            <input name="email" class="form-control ghost-input"  type="text" th:field="*{email}" th:value="*{email}" placeholder="Email" data-form-field="email"/>
                        </div>
                        <div class="form-group">
                            <input name="password" class="form-control ghost-input"  type="password" th:field="*{password}" th:value="*{password}" placeholder="Password" data-form-field="password"/>
                        </div>
                        <div class="form-group">
                            <input name="first_name" class="form-control ghost-input"  type="text" th:field="*{firstName}" th:value="*{firstName}" placeholder="First Name" data-form-field="firstName"/>
                        </div>
                        <div class="form-group">
                            <input name="last_name" class="form-control ghost-input"  type="text" th:field="*{lastName}" th:value="*{lastName}" placeholder="Last Name" data-form-field="lastName"/>
                        </div>
                        <div class="form-group">
                            <input name="dob" class="form-control ghost-input" type="text" th:field="*{dob}" th:value="*{dob}" placeholder="Date of Birth" data-form-field="dob"/>
                        </div>
                        <div class="form-group">
                            <input name="gender" class="form-control ghost-input" type="text" th:field="*{gender}" th:value="*{gender}" placeholder="Gender" data-form-field="gender"/>
                        </div>
                        <div class="form-group">
                            <input name="phoneNumber" class="form-control ghost-input" type="text" th:field="*{phoneNumber}" th:value="*{phoneNumber}" placeholder="phoneNumber" data-form-field="phoneNumber"/>
                        </div>
                        <div class="form-group">
                            <input name="street" class="form-control ghost-input" type="text" th:field="*{street}" th:value="*{street}" placeholder="Street" data-form-field="street"/>
                        </div>
                        <div class="form-group">
                            <input name="city" class="form-control ghost-input" type="text" th:field="*{city}" th:value="*{city}" placeholder="City" data-form-field="city"/>
                        </div>
                        <div class="form-group">
                            <input name="state" class="form-control ghost-input" type="text" th:field="*{state}" th:value="*{state}" placeholder="State" data-form-field="state"/>
                        </div>
                        <div class="form-group">
                            <input name="zipcode" class="form-control ghost-input" type="text" th:field="*{zipcode}" th:value="*{zipcode}" placeholder="ZIP Code" data-form-field="zipcode"/>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div><button type="submit" class="btn btn-primary btn-block">SUBMIT</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section--bg-adapted mbr-section--relative" id="pricing-table1-75" style="background-color: #46B1C9">
    <div class="pricing" id="pricing">
        <div class="container">
            <div class="section-head-lite text-center col-md-8 col-md-offset-2 space80">
            </div>
        </div>
    </div>
</section>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>
