<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header">
    <meta charset="UTF-8" />
    <title>My Practice</title>
</head>
<body>
<div th:replace="partials/navbar :: doctor-navbar"></div>
<section class="mbr-section--bg-adapted mbr-section--relative" id="pricing-table1-75" style="background-color: #4892aa;">
    <div class="pricing" id="pricing">
        <div class="container">
            <div class="section-head-lite text-center col-md-8 col-md-offset-2 space80">
                <h1>MY PRACTICE</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section--bg-adapted" id="header4-3" style="background-image: url(img/doctools.jpeg);">
    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1" data-form-type="formoid">
                    <form id="contact_form" class="positioned" method="POST" th:action="@{/mypractice}" th:object="${user}" data-form-title="CONTACT FORM">
                        <div class="row">
                            <textarea id="image" th:field="*{image}" class="form-control" name="image" rows="1" placeholder="Image Url" data-form-field="image"></textarea>
                            <textarea id="biography" th:field="*{biography}" class="form-control" rows="2" placeholder="Biography"></textarea>
                            <textarea th:field="*{education}" class="form-control" rows="1" id="education" placeholder="Education"></textarea>
                            <textarea th:field="*{practicingField}" class="form-control" rows="1" id="practicingField" placeholder="Field of Practice"></textarea>
                            <textarea  th:field="*{experience}" class="form-control" rows="1" id="experience" placeholder="Experience"></textarea>
                            <textarea th:field="*{accolades}" class="form-control" rows="1" id="accolades" placeholder="Accolades"></textarea>
                            <textarea th:field="*{licenseId}" class="form-control" rows="1" id="licenceId" placeholder="License Board Id#"></textarea>
                        </div>
                        <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                            <div class="submitBtn"><button type="submit" class="btn btn-default btn-ico">Submit<i class="fa fa-paper-plane-o"></i></button></div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
</section>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>
