<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Patients</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
<h1 class="col-sm-12 text-center">My Patients</h1>
<br>
<br>
<div class="row">
    <div class="col-sm-6 text-center">
        <button id="btnCharge" class="btn btn-info btn-md center-block" Style="width: 100px;" OnClick="btnClear_Click" >Charge</button>
        <button id="btnDelete" class="btn btn-danger btn-md center-block" Style="width: 100px;" OnClick="btnSearch_Click" >Delete</button>
    </div>
    <p>Will Ferrell</p>
        <button id="btnAddSession" class="btn btn-info btn-md center-block" Style="width: 100px;" OnClick="btnSearch_Click" >Add</button>
        <button id="btnDeleteSession" class="btn btn-danger btn-md center-block" Style="width: 100px;" OnClick="btnClear_Click" >Delete</button>
</div>
</body>
</html>
