<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header">
    <meta charset="UTF-8" />
    <title>Patient Name</title>
</head>
<body class="view-session-body">
<div th:replace="partials/navbar :: doctor-navbar"></div>

<section class="parallax-content text-center" data-stellar-background-ratio="0.4" id="parallax1-69" style="background-image: url(/img/DESK2.jpg);">
    <div class="mbr-overlay" style="opacity: 0.35; background-color: rgb(17,42,68);"></div>
    <div class="parallax container">
        <h4>PATIENT SESSION</h4>
    </div>
</section>
<section class="mbr-section--bg-adapted mbr-section--relative" style="background-color: #46B1C9">
    <div>
        <div class="container">
            <div class="view-session-card">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 th:text="${patient.firstName} + ' ' + ${patient.lastName}"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Allergies: </h4>
                        <p th:text="${ques.allergies}"></p>
                    </div>
                    <div class="col-sm-3">
                        <h4>Medication: </h4>
                        <p th:text="${ques.medications}"></p>
                    </div>
                    <div class="col-sm-3">
                        <h4>History: </h4>
                        <p th:text="${ques.history}"></p>
                    </div>
                    <div class="col-sm-3">
                        <h4>Extra Information: </h4>
                        <p th:text="${ques.extra}"></p>
                    </div>
                </div>
            </div>

            <div class="view-session-card col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Sessions</h3>
                    </div>
                </div>
                <th:block th:each="session : ${sessions}">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            <h4>Session Information: </h4>
                            <ul class="session-info">
                                <li>Session id#: <span th:text="${session.id}"></span> </li>
                                <li>Time Started: <span th:text="${session.timeStart}"></span> </li>
                                <li>Time Ended: <span th:text="${session.timeEnd}"></span> </li>
                            </ul>
                        </div>
                        <div class="col-sm-3 text-left">
                            <h4>Prescriptions: </h4>
                            <p th:text="${session.prescriptions}"></p>
                        </div>
                        <div class="col-sm-3 text-left">
                            <h4>Procedures: </h4>
                            <p th:text="${session.procedures}"></p>
                        </div>
                        <div class="col-sm-3 text-left">
                            <h4>Notes: </h4>
                            <p th:text="${session.notes}"></p>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1" data-form-type="formoid">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section--bg-adapted mbr-section--relative" id="pricing-table1-75" style="background-color: #46B1C9">
    <div class="pricing" id="pricing">
        <div class="container">
            <div class="section-head-lite text-center col-md-8 col-md-offset-2 space80">

            </div>
        </div>
    </div>
</section>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>