<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header">
    <meta charset="UTF-8" />
    <title>Confirm Payment</title>

</head>
<body>
<div th:replace="partials/navbar :: patient-navbar"></div>
<section class="parallax-content text-center" data-stellar-background-ratio="0.4" id="parallax1-69" style="background-image: url(img/docreception1.jpg);">
    <div class="mbr-overlay" style="opacity: 0.75; background-color: rgb(120,188,255);"></div>
    <div class="parallax container">
        <h4>Confirm Payment</h4>
    </div>
</section>

<main class="container">
    <!--th:object="${event}"-->

    <form th:action="@{/redirecttodash}" method="GET" id="checkout-form">
        <input type='hidden' th:value='${amount}' name='amount' />
        <label>Price:<span th:text='${amount}' ></span></label>
        <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
        <script
                src='https://checkout.stripe.com/checkout.js'
                class='stripe-button'
                th:attr='data-key=${stripePublicKey}'
                th:data-amount='${amount}'
                data-currency='currency'
                data-name='Which-Doctor'
                data-description='Complete Payment/Invoice'
                data-image
                        ='img/whichdoc.jpeg'
                data-locale='auto'
                data-zip-code='true'>
        </script>
    </form>
</main>


<section class="mbr-section--bg-adapted mbr-section--relative" id="pricing-table1-75" style="background-color: rgb(17,42,68);">
    <div class="pricing" id="pricing">
        <div class="container">
            <div class="section-head-lite text-center col-md-8 col-md-offset-2 space80">

            </div>
        </div>
    </div>
</section>
<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>