<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"></head>
<head>
    <meta charset="UTF-8"/>
    <title>My Health</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<section class="mbr-section--bg-adapted mbr-section--relative" id="pricing-table1-75" style="background-color: #46B1C9;">
    <div class="pricing" id="pricing">
        <div class="container">
            <div class="section-head-lite text-center col-md-8 col-md-offset-2 space80">
                <h1>MY HEALTH</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section--bg-adapted" id="header4-3" style="background-image: url(img/clinic.jpg);">
    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1" data-form-type="formoid">
                    <form id="contact_form" class="positioned" th:action="@{/myhealth}" method="POST" th:object="${quest}" data-form-title="CONTACT FORM">
                        <div class="row">
                            <textarea class="form-control" name="history" rows="2" th:field="*{history}" placeholder="Health History" data-form-field="history"></textarea>
                            <textarea class="form-control" name="medications" rows="2" th:field="*{medications}" placeholder="Medications" data-form-field="medications"></textarea>
                            <textarea class="form-control" name="allergies" rows="2" th:field="*{allergies}" placeholder="Allergies" data-form-field="allergies"></textarea>
                            <textarea class="form-control" name="extra " rows="2" th:field="*{extra}" placeholder="Additional History" data-form-field="extra"></textarea>
                            <div class="submitBtn"><button type="submit" class="btn btn-default btn-ico">Submit<i class="fa fa-paper-plane-o"></i></button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>










