<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>

<h1 class="col-sm-12 text-center">Patient Dashboard</h1>
<br>
<h4 class="col-sm-12 text-center">My Doctor</h4>
<div class="col-sm-12 text-center">
    <img collect_rid="1:284976504" src="https://orig00.deviantart.net/18e8/f/2012/044/8/f/dr_steve_brule_by_brucewhite-d4po1a0.jpg" data-embed-type="deviation" data-embed-format="thumb" data-embed-id="284976504" width="504" height="648" alt="Dr Steve Brule by BruceWhite" class="dev-content-normal " style="width: 304px; height: 348px; top: 0px;">
    <div class="caption">
        <b>Dr. Steve Brule</b><br>
        <i>1580 Wald Rd., New Braunfels, (512) 878-9214, <a href="https://twitter.com/_steve_brule?lang=en">Steve Brule</a></i><br>
        <p>His severe naivete and social awkwardness generally land him in embarrassing situations, <br>
            though he largely remains ignorant of any embarrassment he's causing himself. <br>
            As the series progresses, he reveals shocking and sometimes horrifying details about his past and personal life.</p>
        <br>
    </div>
</div>
<h3 class="col-sm-12 text-center">Your Appointments</h3>
<p class="col-sm-12 text-center">10/10/2018 at 3:00 PM</p>
<br>
<div class="row">
    <div class="col-sm-12 text-center">
        <button id="btnCheckIn" class="btn btn-info btn-md center-block" Style="width: 100px;" OnClick="btnSearch_Click" >Check in</button>
        <button id="btnCancel" class="btn btn-danger btn-md center-block" Style="width: 100px;" OnClick="btnClear_Click" >Cancel</button>
    </div>
</div>
<br>
<br>
<H3 class="col-sm-12 text-center">Make an appointment</H3>
<img  class="col-sm-12 text-center " src="http://3.bp.blogspot.com/_rk3mXzPg1eI/TM-_8JIlWYI/AAAAAAAABs8/R0eN0BnHRXs/s1600/04_february.jpg" data-embed-type="deviation" data-embed-format="thumb" data-embed-id="284976504"   >

</body>
</html>