<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<section id="contact" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>How Was Your Visit?</h2>

                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="https://shamanramen.us/patient_registration" class="btn btn-default btn-lg">
                            <i class="fa fa-twitter fa-fw"></i>
                            <span class="network-name">Welcome</span>
                        </a>
                    </li>
                    <div class="container">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="1" id="additionalInfo" placeholder="Additional History"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4"><br>
                            <button type="submit" class="btn btn-info" >SUBMIT <span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>