<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"></head>
<head>
    <meta charset="UTF-8"/>
    <title>Review Form</title>

</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<section class="mbr-section--bg-adapted mbr-section--relative" id="pricing-table1-75" style="background-color: rgb(3, 169, 181);">
    <div class="pricing" id="pricing">

        <div class="container">
            <div class="section-head-lite text-center col-md-8 col-md-offset-2 space80">
                <h1>SHAMARAMA!</h1>
                <h1>Tell us how your visit went</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section--bg-adapted" id="header4-3" style="background-image: url(img/elevator.jpg);">
    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1" data-form-type="formoid">
                    <form id="contact_form" class="positioned" th:action="@{/myreview}" method="POST" th:object="${review}" data-form-title="CONTACT FORM">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" required="" placeholder="Your Name here" data-form-field="Name"/>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" required="" placeholder="Email Address here" data-form-field="Email"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" name="subject" placeholder="Subject" data-form-field="subject"/>
                        </div>
                        <textarea class="form-control" name="message" rows="7" th:field="*{review}" placeholder="Review Summary"  data-form-field="Message"></textarea>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-default btn-ico">Send Review<i class="fa fa-paper-plane-o"></i></button></div>
                    </form>
                </div>
            </div>
        </div>
        </div>
</section>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>

