<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header">
    <meta charset="UTF-8" />
    <title>Review Form</title>

</head>
<body class="view-bg">
<div th:replace="partials/navbar :: patient-navbar"></div>

<section class="parallax-content text-center" data-stellar-background-ratio="0.4" id="parallax1-69" style="background-image: url(img/hallway5.jpeg);">
    <div class="mbr-overlay" style="opacity: 0.35; background-color: rgb(17,42,68);"></div>
    <div class="parallax container">
        <h4>MY REVIEWS </h4>
    </div>
</section >

<section class="mbr-section--bg-adapted mbr-section--relative" id="form1-77" style="background-color: #46B1C9">
    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1" data-form-type="formoid">
                    <div data-form-alert="true">
                        <div class="hide" data-form-alert-success="true">Thanks for filling out form!</div>
                    </div>
                    <form id="contact_form" class="positioned" th:action="@{/myreview}" method="POST" th:object="${review}" data-form-title="CONTACT FORM">
                        <input type="hidden" name="patientId" th:value="${user.id}"/>
                        <input type="hidden" name="reviewId" th:value="${review.id}"/>
                        <input type="hidden" name="doctorId" th:value="${user.myDocId}"/>
                        <textarea class="form-control ghost-input" name="message" rows="8" th:field="*{review}" placeholder="How Was Your Visit?"  data-form-field="Message"></textarea>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Satisfactory - 3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Fair - 2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Not for me - 1 star"></label>
                        </fieldset>
                        <div class="col-md-4 col-sm-4">
                            <div><button type="submit" class="btn btn-primary btn-block">SUBMIT</button></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section--bg-adapted mbr-section--relative" id="pricing-table1-75" style="background-color: #46B1C9">
    <div class="pricing" id="pricing">
        <div class="container">
            <div class="section-head-lite text-center col-md-8 col-md-offset-2 space80">

            </div>
        </div>
    </div>
</section>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>



