<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header">
    <meta charset="UTF-8" />
    <title>Search Doctor</title>
</head>
<body>
<div th:replace="partials/navbar :: patient-navbar"></div>

<section class="mbr-parallax-background" id="pricing-table1-75" style="background-color: rgb(17,42,68);">
    <div class="pricing" id="pricing">

        <div class="container">
            <div class="section-head-lite text-center col-md-8 col-md-offset-2 space80">
                <h1>SEARCH FOR DOCTORS</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="continer-fluid">
</div>
<div class="container">

<div class="doctor-card" th:each="doctor : ${doctors}">
    <div class="text-left">
        <div class="col-sm-4">
            <div class="doctor-rating" th:name="${doctor.id}">
                <th:block th:each="review : ${reviews}">
                    <th:block th:if="${review.doc_id == doctor.id}">
                        <p class="rating" th:name="${review.doc_id}" th:text="${review.rating}"></p>
                    </th:block>
                </th:block>
            </div>
            <input type="hidden" class="doctorId" th:value="${doctor.id}" />
            <img style="max-height: 100px;" th:src="${doctor.image}" th:alt="${doctor.firstName} + ' ' + ${doctor.lastName}" />
                <h2 class="name" >Dr. <span th:text="${doctor.firstName} + ' ' + ${doctor.lastName}"></span></h2>
                <form class="form-inline" th:action="@{/setdoctor/{doctorId}(doctorId = ${doctor.id})}" th:method="POST">
                    <button class="btn btn-primary">Set as my Doctor</button>
                </form>
                <button class="view-btn btn btn-primary">View</button>
                <p class="phone-number" th:text="${doctor.phoneNumber}"></p>
                <p class="email" th:text="${doctor.email}"></p>
                <p class="address"><span id="address" class="address-span" th:text="${doctor.street} + ', ' + ${doctor.city} + ', ' + ${doctor.state} + ', ' + ${doctor.zipcode}"></span></p>
                <p class="" ></p>
                <p class="practicing-field">Field: <span th:text="${doctor.practicingField}"></span></p>
                <!--<p class="btn experience">Experience: <span th:text="${doctor.experience}"></span></p>-->
                <!--<p class="btn education">Education: <span th:text="${doctor.education}"></span></p>-->
            <hr/>
        </div>
    </div>
</div>

</div>

<div th:each="review : ${reviews}">

</div>
<div class="container">
    <div id="map" class="col-sm-6 col-sm-offset-2"></div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script async="async" defer="defer"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQAXVLex1Ri2SrNvxCfl51OK0jXlyl14k
&amp;callback=initMap"></script>
<script src="/js/maps.js"></script>
<script src="/js/search.js"></script>
<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>
