<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header">
    <meta charset="UTF-8" />
    <title>Search Doctor</title>
</head>
<body class="search-doctor-background">
<div th:replace="partials/navbar :: patient-navbar"></div>



<section class="parallax-content text-center" data-stellar-background-ratio="0.4" id="parallax1-69" style="background-image: url(img/doctools.jpeg);">
    <div class="mbr-overlay" style="opacity: 0.75; background-color: rgb(17,42,68);"></div>
    <div class="parallax container">
        <h4>SEARCH FOR DOCTORS</h4>
    </div>
</section>
<div class="modal fade search-doctor-modal" tabindex="-1" role="dialog" id="gridSystemModalLabel" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">View Doctor</h4>
            </div>
                <div class="col-sm-3 text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <img id="docImg" src="" alt="Image"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 id="docName">Doctor Name</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p id="docAddr">Doctor Address</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p id="docPhone">Doctor Phone</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p id="docField">Doctor Field</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div id="map"></div>
                </div>
            <div class="modal-footer row">
                <button type="button" class="btn btn-default col-sm-2 col-sm-offset-7" data-dismiss="modal">Close</button>
                <form class="form-inline col-sm-2" id="setDocModalForm" th:action="@{/setdoctor}" th:method="POST">
                    <input type="hidden" name="hiddenDocId" id="doctorId" value="" />
                    <button class="btn btn-primary">Set as my Doctor</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container">
        <div class="doctor-card" th:each="doctor : ${doctors}">
            <div class="col-sm-4">
                <div class="text-center">
                    <div class="col-sm-12 search-doctor-card">
                        <div class="doctor-rating" th:name="${doctor.id}">
                            <th:block th:each="review : ${reviews}">
                                <th:block th:if="${review.doc_id == doctor.id}">
                                    <p class="rating" th:name="${review.doc_id}" th:text="${review.rating}"></p>
                                </th:block>
                            </th:block>
                        </div>
                        <input type="hidden" class="doctorId" th:value="${doctor.id}" />
                        <img style="max-height: 100px;" th:src="${doctor.image}" th:alt="${doctor.firstName} + ' ' + ${doctor.lastName}" />
                        <h2 class="name" >Dr. <span th:text="${doctor.firstName} + ' ' + ${doctor.lastName}"></span></h2>
                        <form class="form-inline" th:action="@{/setdoctor/{doctorId}(doctorId = ${doctor.id})}" th:method="POST">
                            <button class="btn btn-primary">Set as my Doctor</button>
                        </form>
                        <button class="view-btn btn btn-primary" data-toggle="modal" data-target="#gridSystemModalLabel">View</button>
                        <p class="phone-number" th:text="${doctor.phoneNumber}"></p>
                        <p class="email" th:text="${doctor.email}"></p>
                        <p class="address"><span id="address" class="address-span" th:text="${doctor.street} + ', ' + ${doctor
                           .city} + ', ' + ${doctor.state} + ', ' + ${doctor.zipcode}"></span></p>
                        <p class="" ></p>
                        <p class="practicing-field">Field: <span th:text="${doctor.practicingField}"></span></p></div>
                </div>
            </div>
    </div>

</div>

<section class="mbr-section--bg-adapted mbr-section--relative" id="pricing-table1-75" style="background-color: rgb(17,42,68);">
    <div class="pricing" id="pricing">
        <div class="container">
            <div class="section-head-lite text-center col-md-8 col-md-offset-2 space80">
            </div>
        </div>
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script async="async" defer="defer"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQAXVLex1Ri2SrNvxCfl51OK0jXlyl14k
&amp;callback=initMap"></script>
<script src="/js/maps.js"></script>
<footer th:replace="partials/footer :: footer"></footer>
<script src="/js/search.js"></script>

</body>
</html>
