<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<body>

<footer th:fragment="footer">
    <h2 style="text-align: center"><a  class="text-white text-center" th:href="@{/about}">ABOUT US</a></h2>
    <p style="text-align: center" class="text-white">WHICH DOCTOR  ©2018</p>
    <script src='/js/jquery-2.2.4.min.js'></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/fullcalendar.min.js"></script>
    <script src="/js/index.js"></script>

</footer>
</body>
</html>