<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="UTF-8" />
    <title>WHICH DOCTOR</title>
    <!--This image should be replaced!-->
    <link rel="icon" type="image/png" href="/img/whichdoc.jpeg"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/bootstrap1.min.css" />
    <link rel="stylesheet" href="/css/bootstrap2.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/fullcalendar.css"/>
    <link rel="stylesheet" href="css/appointments.css"/>
    <link rel="stylesheet" href="css/css2.css"/>
</head>
<body>
</body>
</html>
