<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Navbar</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/bootstrap1.min.css" />
</head>
    <nav th:fragment="patient-navbar" class="navbar-inverse navbar-lg navbar-fixed-top nav-down">
        <div class="container">
            <div class="navbar-header nav-down"><a href="/index" class="navbar-brand brand">WHICH DOCTOR</a></div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-right: 10px;"><a class="text-white" th:href="@{/dashboard}">MY DASHBOARD</a></li>
                    <li style="margin-right: 10px;"><a class="text-white" th:href="@{/myhealth}">MY HEALTH</a></li>
                    <li style="margin-right: 10px;"><a class="text-white" th:href="@{/search}">SEARCH DOCTORS</a></li>
                    <li style="margin-right: 10px;"><a class="text-white" th:href="@{/myreview}">MY REVIEWS</a></li>
                    <li style="margin-right: 10px;"><a class="text-white" th:href="@{'/users/' + ${user.id} + '/edit'}">EDIT MY INFO</a></li>
                    <!--<li style="margin-left: 10px;"><a class="text-white" th:href="@{/logout}">LOGOUT</a></li>-->
                    <li style="margin-right: 10px;" sec:authorize="isAuthenticated()">
                        <!--<a id="logout" href="#">Logout</a>-->
                        <form id="logout-form" th:action="@{/logout}" th:method="POST">
                            <button>Logout</button>
                        </form>
                        <!--<li style="margin-right: 10px;" sec:authorize="isAuthenticated()">-->
                        <!--&lt;!&ndash;<a id="logout" href="#">Logout</a>&ndash;&gt;-->

                        <!--<form id="logout-form" th:action="@{/logout}" th:method="POST">-->
                            <!--&lt;!&ndash;<button>Logout</button>&ndash;&gt;-->
                        <!--</form>-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav th:fragment="doctor-navbar" class="navbar-inverse navbar-lg navbar-fixed-top">
    <div class="container">
        <div class="navbar-header nav-down"><a href="/index" class="navbar-brand brand">WHICH DOCTOR</a></div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 10px;"><a class="text-white" th:href="@{/dashboard}">MY DASHBOARD</a></li>
                <li style="margin-right: 10px;"><a class="text-white" th:href="@{/mypractice}">MY PRACTICE</a></li>
                <li style="margin-right: 10px;"><a class="text-white" th:href="@{/mybilling}">MY BILLING</a></li>
                <li style="margin-right: 10px;"><a class="text-white" th:href="@{'/doctors/' + ${user.id} + '/edit'}">EDIT DOCTOR INFO</a></li>
                <li sec:authorize="isAuthenticated()">
                    <!--<a id="logout" href="#">Logout</a>-->
                    <form id="logout-form" th:action="@{/logout}" th:method="POST">
                        <button>Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>