<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header">
    <meta charset="UTF-8"/>
    <title>WHICH DOCTOR</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<section class="mbr-section--bg-adapted" id="header4-3" style="background-image: url(img/doc.jpeg);">
    <div class="intro intro11">
        <div class="mbr-overlay" style="opacity: 0.75; background-color: rgb(23,41,68);"></div>
        <div class="container">
            <div class="row center-content center-content-ipad">
                <div class="col-md-10 col-md-offset-1 text-center" data-form-type="formoid">
                    <h1>WHICH DOCTOR</h1>
                    <div><a href="/register" class="btn btn-lg btn-primary btn-cta">JOIN TODAY</a></div>
                    <p>An easy to use Patient Management System for Patients and Doctors</p>
                    <p>to connect and keep track of appointments and medical information.</p>
                    <div><p>The Doctor will see you now.</p></div>
                    <div data-form-alert="true">
                        <div class="hide" data-form-alert-success="true">Thanks for filling out form!</div>
                    </div>
                    <form class="intro-newsletter intro11-nl" th:action="@{/login}" method="POST" data-form-title="SUBSCRIBE">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div>
                                    <input id="username" type="text" class="username" name="username" required="" placeholder="Username" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div>
                                    <input id="password" class="password" name="password" type="password" required="" placeholder="Password" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div><button type="submit" class="btn btn-primary btn-block">LOGIN</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="partials/footer :: footer">
</footer>
</body>
</html>