<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<section class="mbr-section--bg-adapted" id="header17-16" style="background-image: url('/img/doc.jpeg')">
    <main class="container">

        <h1>Something went wrong!</h1>

    </main>
    <!--<div class="intro intro6">-->
    <!--<div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(99,175,198);"></div>-->
    <!--<div class="container">-->
    <!--<div class="row center-content center-content-ipad">-->
    <!--<div class="col-md-10 col-md-offset-1 text-center">-->
    <!--<h2>WHICH DOCTOR</h2><p>An easy to use Patient Management System for Patients and Doctors</p>-->
    <!--<p>to connect and keep track of appointments and medical information.</p>-->
    <!--<div><p>The Doctor will see you now.</p></div>-->
    <!--<div><a href="/register" class="btn btn-lg btn-primary btn-cta">JOIN TODAY</a></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

</section>


<div th:replace="partials/footer :: footer"></div>
<!--<div th:replace="partials/scripts :: scripts"></div>-->

</body>
</html>