<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header">
    <meta charset="UTF-8"/>
    <title>WHICH DOCTOR</title>
</head>
<body class="view-session-body">
<div th:replace="partials/navbar :: navbar"></div>

<section class="parallax-content text-center" data-stellar-background-ratio="0.4" id="parallax1-69" style="background-image: url(/img/sunset.jpeg);">
    <div class="mbr-overlay" style="opacity: 0.75; background-color: rgb(17,42,68);"></div>
    <div class="parallax container">
        <H4>ABOUT US!</H4>
    </div>
</section>
<section class="mbr-section--bg-adapted mbr-section--relative" id="form1-77" style="background-color: #46B1C9">
    <div class="contact-form">
        <div class="container">
<div class="fluid-container mx-4">
    <div class="row d-flex">
        <div class="col-xs-12 col-lg-4 d-flex">
            <div class="card">
                <div class="view-session-card">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <img th:src="@{/img/chrismaddin.jpeg}" style="max-width: 200px;"/>
                        </div>
                    </div>
                    <hr/>
                    <h2 class="card-title text-primary" style="text-align: center">Chris Maddin</h2>
                    <hr/>
                    <p class="card-text text-center" style="color: black">
                        Chris strives to keep educating himself and explore the ever expanding future of design and computer programing. His dedication to work with a team has set him with great aptness for problem solving.
                        He also has a strong belief that the creative process involved with coding is a close relative to that of music and art, and dreams of the endless possibilities they possess.
                    </p>
                    <div class="text-center">
                        <a href="https://www.linkedin.com/in/chris-maddin/" class="icon-linkedin-sign">LinkedIN</a>
                        <a href="https://github.com/ChrisKMaddin" class="icon-github-sign">GitHub</a>
                        <a href="mailto:chriskmaddin@gmail.com" class="icon-share-alt">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4 d-flex">
            <div class="card">
                <div class="view-session-card">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <img th:src="@{/img/benhodge.jpeg}" class="w-50 rounded-circle" style="max-width: 200px"/>
                        </div>
                    </div>

                    <hr/>
                    <h2 class="card-title text-primary" style="text-align: center">Ben Hodge</h2>
                    <hr/>
                    <p class="card-text text-center" style="color: black">
                        Ben shows amazing promise as a Web Developer with technical acumen to solve real world challenges. With a cool head on his shoulders and with little fear of failure, he maintains a sheer internal will to succeed.
                        His shining intelligence has allowed him to quickly adapt to any problem and shows passion for making old fashioned methods obsolete with quick and to the point coding;
                        And on that note, Rackspace's own <small class="font-weight-light">Dirk Elemndorf</small> has already seen and taken great interest to Ben as has added him to his team in a newly founded start-up called Brokerage Engine.
                    </p>
                    <div class="text-center">
                        <a href="https://www.linkedin.com/in/benjamin-a-hodge/" class="icon-linkedin-sign">LinkedIN</a>
                        <a href="https://github.com/bahodge" class="icon-github-sign">GitHub</a>
                        <a href="mailto:benjamin.andrew.hodge@gmail.com" class="icon-share-alt">Contact</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-lg-4 d-flex">
            <div class="card">
                <div class="view-session-card">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <img th:src="@{/img/armandosegura.jpeg}" class="w-50 rounded-circle" style="max-width: 200px;"/>
                        </div>
                    </div>
                    <hr/>
                    <h2 class="card-title text-primary" style="text-align: center">Armando Segura</h2>
                    <hr/>
                    <p class="card-text text-center" style="color: black">
                        Armando has shown great stride while transitioning his Pharmaceutical education into that of a bright Software developer.
                        His dislike for pen-and-paper practices used today has pushed him to facilitate coding that ends this and all other tedious and monotonous routines.
                        He prefers a difficult question over an easy answer, as it always provides him an opportunity for improvement and growth.
                        Armando's mental prowess to process many situations and scenarios makes him a prime candidate for any challenge.
                    </p>
                    <div class="text-center">
                        <a href="https://www.linkedin.com/in/armando-segura" class="icon-linkedin-sign">LinkedIN</a>
                        <a href="https://github.com/ClamsCasin0" class="icon-github-sign">GitHub</a>
                        <a href="mailto:seguraarm@gmail.com" class="icon-share-alt">Contact</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</section>
<script th:replace="partials/footer :: footer"></script>
</body>
</html>