<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Appointments')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h1 class="display-4 text-center">Welcome to <em>SHAMANramen</em> </h1>
        <p class="lead text-center">Showing your Local Common Shamans</p>
    </div>
</div>

<main class="container">

    <h1 class="text-center">Posts</h1>

    <!--<div th:each="appointment : ${appointments}">-->



        <!--<div class="col-md-14 text-center">-->
            <!--<h3><span th:text="${appointment.}"></span></h3>-->
            <!--<p><span th:text="${appointment.description}"></span></p>-->



            <!--will come in later for userowner-only editor -->

            <!--<div th:if="${#authentication.principal.id == post.user.id}">-->
                <!--<form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="GET">-->
                    <!--<button class="btn btn-warning">Edit</button>-->
                <!--</form>-->
                <!--<form th:action="@{'/posts/' + ${post.id} + '/delete'}" th:method="POST">-->
                    <!--<button class="btn btn-danger">Delete</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->


    <!--</div>-->

</main>

<!--<div th:replace="partials/footer :: footer"></div>-->

<!--<div th:replace="partials/scripts :: scripts"></div>-->

</body>
</html>
