<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View all Appointments using AJAX</title>
</head>
<body>
<h1>Appointments</h1>
<div id="appointments"></div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"
></script>
<!-- include the JS file with the AJAX request -->
<script src="/js/patient-app-json.js"></script>
</body>
</html>